In [5]:
if True:
  print("True")
  print("True2")
else:
    print("False")

True
True2

In [8]:
a = 10 
b = 20
c = 30
total = a + \
        b + \
        c

print(total)

d = [1, 2, 3,
     4, 5, 6]

60

In [9]:
a2 = 'hello'
b2 = "Hello 2"
c2 = """Hello 3"""
d2 = '''Hello 4'''
e2 = """First Line
        Second Line
        Third Line"""

In [13]:
a3, b3, c3 = 10, 20, 30
print(a3, b3, c3)
d4 = (100, 200, 300) # Tuple
print(type(d4))
print(d4)
x3, y3, z3 = d4
print(x3, y3, z3)

10 20 30
<class 'tuple'>
(100, 200, 300)
100 200 300

In [15]:
a4 = 10
b4 = 3
c4 = a4 / b4
print(c4)
d4 = a4 // b4 # 목 연산
print(d4)

3.3333333333333335
3

In [17]:
a5, b5 = "100", "200"

print(a5 + b5)
print(int(a5) + int(b5))

100200
300

In [23]:
a6 = "Hello" # 문자열은 문자의 리스트
print(a6 * 3) # 리스트의 스칼라곱은 반복 print(['H', 'e', 'l', 'l', 'o'] * 3)
print('-' * 50)
print([1, 2, 3, 4, 5] * 5)

HelloHelloHello
--------------------------------------------------
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [28]:
a7 = "Life is too short, You need Python"
print(a7[6]) # indexing (위치로 목록의 값 한 개를 뽑는 동작)
print(a7[5:10]) # slicing ( 위치의 범위로 목록의 값 0개 이상을 뽑는 동작)
print(a7[-5])
print(a7[-10:-5])

s
is to
y
eed P

In [33]:
print("%s, %d, %f"%('hello', 124, 11.23))
print("{0}, {1}, {2}".format('hi', 567, 90.54))

hello, 124, 11.230000
hi, 567, 90.54

In [34]:
name = "John Doe"
age = 35

f'Your Name is {name} and age is {age}'

'Your Name is John Doe and age is 35'

In [35]:
a8 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print( a8[5] )
print( a8[-3] )
print( a8[3:7] )
print( a8[:6] )
print( a8[6:] )

6
8
[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6]
[7, 8, 9, 10]

In [39]:
a9 = [1, 2, 3]
b9 = [10, 20, 30]
print(a9 + b9)
# print(a9 - b9)
print(a9 * 3)

[1, 2, 3, 10, 20, 30]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [42]:
a10 = [1, 2, 3, 4, 5]
print( a10[3] )
print( a10[3:4] )

a10[3] = [1, 2, 3]
print( a10 )
a10[4:5] = [1, 2, 3]
print( a10 )

4
[4]
[1, 2, 3, [1, 2, 3], 5]
[1, 2, 3, [1, 2, 3], 1, 2, 3]

In [44]:
t1 = (1, 2, 'a', 'b')
# del t1[0]
t1[0] = 100

TypeError: 'tuple' object does not support item assignment

In [50]:
t2 = (1, 2, 3, 4, 5, 6, 7)
print(t2[3])
# print(t2[10])
print(t2[8:10])

4
()

In [52]:
d1 = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
print(d1)
print(d1['name'])

{'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
pey

In [54]:
for item in d1: # key 목록 반복
    print(item, d1[item])

name pey
phone 0119993323
birth 1118

In [58]:
print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys(['name', 'phone', 'birth'])
dict_values(['pey', '0119993323', '1118'])
dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [59]:
for key, value in d1.items():
    print(key, value)

name pey
phone 0119993323
birth 1118

In [62]:
# d1['email'] # key가 없으면 오류
print( d1.get('email') ) # key가 없으면 빈 값
print( d1.get('email', 'no email')) # key가 없으면 기본 값

None
no email